{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! The big featured header on the homepage, with the site logo and description }}

 <div class="header" {{#if @blog.cover}}style="background-image: url({{@blog.cover}})"{{/if}}>
     <div style="display: table-cell; vertical-align: middle;">
       <div>
       <h1>{{@blog.title}}</h1>
       <div class="blog-description">{{@blog.description}}</div>
       </div>
     </div>
 </div>

<div class="container">

<div class="menubar">

{{> menu}}

</div>
{{! end of menubar}}





  <div class="row" id="ms-container">

    {{#foreach posts}}

       <div class="col-md-4 ms-item">
         {{content words="0"}}
         <h1><a href="{{url}}">{{title}}</a></h1>
         {{#if featured}}<div class="featured"><i class="fa fa-certificate"></i> Featured post</div>{{/if}}
         <p>{{excerpt words=25}}</p>
         <div class="post-meta">
         <i class="fa fa-clock-o"></i><span>&nbsp;{{date format="DD MMM YYYY"}}</span>  &nbsp;&nbsp;  <i class="fa fa-comment-o"></i> <span>&nbsp;<a href="{{url}}#disqus_thread">Comments</a></span>&nbsp;&nbsp; <i class="fa fa-smile-o"></i> <span>&nbsp;{{author.name}}</span></div>
         <div class="bar"></div>

        </div> 

  {{/foreach}}


{{! end of row}}
</div>



<div class="navigationbar">

{{pagination}}


{{! end of navigationbar}}
</div>








{{! end of container}}
</div>
 
{{> social-bottom}}



  <div class="copyright" style="display: table;overflow: hidden;">
   <div style="display: table-cell; vertical-align: middle;">
     <div>
     All content copyright <a href="/">{{@blog.title}}</a> &copy; 2014 &bull; All rights reserved.
     </div>
   </div>
 </div>